body{
	background-image: url(pattern.png);
}
img{
	float: left;
	width: 200px;
	height: 200px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}
.border{
	height: 400px;
	-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
	border-style: solid;
	width: 100%;
	display: block;
	margin-right: auto;
	margin-left: auto;
}
h2{
	text-align: center;
	font-size: 60px;
}
p{
	display: inline;
	font-size: 30px;
	text-align: center;
	padding: 5px;
}
.padding{
	padding: 5px;
}